<div class="image-upload">
  <div class="image-upload text">
    Select event image:
    <input
      class="image-upload input"
      id="fileInput"
      type="file"
      (input)="selectFile($event.target.files[0])"
    />
    <div class="error" *ngIf="formDataControl.hasError('required')">
      File is required.
    </div>
    <div class="error" *ngIf="formDataControl.hasError('invalidFileType')">
      Invalid file type.
    </div>
    <div class="error" *ngIf="formDataControl.hasError('invalidFileSize')">
      File size exceeds the limit.
    </div>
  </div>
</div>
