<div class="header header-{{getClassOnFullEvent()}}">
  <!-- <mat-icon class="arrow-back" (click)="navBack()">
    arrow_back
  </mat-icon> -->

  <!--  <div class = 'search=field' fxLayoutAlign="end center">-->
  <!--  <mat-icon class="search">-->
  <!--    search-->
  <!--  </mat-icon>-->
  <!--  <input-->
  <!--         id="m_quicksearch_input_disabled"-->
  <!--         autocomplete="off"-->
  <!--         type="text" name="searchFilterText"-->
  <!--         class="m-list-search__form-input"-->
  <!--         value="" placeholder="Search...">-->
  <!--  </div>-->

  <div *ngIf="fullEventPage" class="logo-container logo-fullevent" routerLink="/" [queryParamsHandling]="'merge'"
    (click)="changeMapView()">
    <img class="logo" src="assets/branding/logo_name.png" alt="logo name">
  </div>
  <div *ngIf="!fullEventPage" class="logo-container" routerLink="/" [queryParamsHandling]="'merge'"
    (click)="changeMapView()">
    <img *ngIf="getScreenWidth<=1000" class="logo-small" src="assets/icon/icon.png" alt="logo name">
    <img *ngIf="getScreenWidth>1000" class="logo" src="assets/branding/logo_name.png" alt="logo name">
  </div>

  <app-date-picker *ngIf="!fullEventPage" class="date-picker" (clickedDate)="searchForDay($event)"></app-date-picker>
  <div class="search-container-{{getClassOnFullEvent()}}">
    <app-search-filter></app-search-filter>
  </div>
  <div class="menu-container menu-{{getClassOnFullEvent()}}">
    <app-hamburger-menu></app-hamburger-menu>
  </div>


  <!-- <div class="clock-container">
    <app-digital-clock></app-digital-clock>
  </div> -->
</div>