.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  justify-content: space-around;
  /*padding-top: constant(safe-area-inset-top);*/
  /*padding-top: env(safe-area-inset-top);*/

}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.5);
}

.header-fullevent {
  justify-content: space-between;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 10%;
  min-width: 10%;
}

.logo-fullevent {
  min-width: 90px !important;
  width: 20% !important;
  margin-left: 44.5vw;
}

.date-picker {
  display: flex;
  justify-content: center;
  width: 55%;
  margin-right: 50px;
  margin-left: 40px;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
  margin-left: 12px;
  margin-top: 7px;
}

.menu-fullevent {
  margin: 16px
}

/* Additional styling for the logo and button */
.logo {
  max-width: 100%;
  min-width: 4rem;
  height: auto;
}

.search-container- {
  margin-top: 8px !important;
}

.search-container-fullevent {
  display: none;
}

.logo-small {
  width: 50px;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .logo-small {
    width: 40px;
    height: 100%;
  }

  .date-picker {
    width: 60%;
  }
}

/* @media screen and (max-width: 350px) {
  .logo-small {
    width: 35px;
    height: 100%;
  }
} */

@media screen and (max-width: 800px) {
  .header {
    align-items: center;
  }

  .header-fullevent {
    justify-content: center !important;
  }

  .menu-container {
    display: none;
  }

  .logo-container {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: unset;
    margin-left: 4px;
    min-width: 44px;
    margin-bottom: 2px;
  }

  .logo-fullevent {
    min-width: unset;
    margin-left: unset;
    margin-top: 4px;
    margin-bottom: 6px;
  }

  .date-picker {
    width: 70%;
    margin: unset !important;
  }

  .button-container {
    display: none;
  }

  app-hamburger-menu {
    display: none
  }

  .search-container- {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: unset;
    margin-bottom: 6px;
  }
}