<div class="header">
  <mat-icon class="arrow-back" (click)="navBack()">
    arrow_back
  </mat-icon>

  <!--  <div class = 'search=field' fxLayoutAlign="end center">-->
  <!--  <mat-icon class="search">-->
  <!--    search-->
  <!--  </mat-icon>-->
  <!--  <input-->
  <!--         id="m_quicksearch_input_disabled"-->
  <!--         autocomplete="off"-->
  <!--         type="text" name="searchFilterText"-->
  <!--         class="m-list-search__form-input"-->
  <!--         value="" placeholder="Search...">-->
  <!--  </div>-->
  <div class="logo-container" routerLink="/">
    <img class="logo" src="assets/branding/logo_name.png" alt="logo name">
  </div>

  <div class="clock-container">
    <app-digital-clock></app-digital-clock>
  </div>
</div>
