<div class="category-tile" (click)="onClick()">
  <div class="category-tile-name-container">
        <span>
            {{category.name}}
        </span>
  </div>
  <div class="category-tile-image-container">
    <mat-icon class="material-icons small-icon">
      expand_more
    </mat-icon>
    <img class="category-icon" [src]="IconUrl">
  </div>
</div>

<div *ngIf="this.showSubcategories">
  <div class="category-tile subcategory">
    <div class="category-tile-name-container" routerLink="/events" [queryParams]="{category: category._id}">
      <span>
            All
          </span>
    </div>
  </div>
  <div *ngFor="let subcategory of category.subcategories" class="category-tile subcategory">
    <div class="category-tile-name-container" routerLink="/events"
         [queryParams]="{subcategory: subcategory._id, category: category._id}">
      <span>
            {{subcategory.name}}
        </span>
    </div>
  </div>
</div>
