.category-tile {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: rgba(249, 251, 255, 0.82);
  border-radius: 23px;
  height: 7.8rem;
  box-shadow: 1px 1px 12px #8389a4;
  margin-bottom: 1rem;
  cursor: pointer;
}

.subcategory {
  margin-left: 10%;
  width: 80%;
}

.category-tile-name-container {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  margin: 1rem;
}


.category-icon {
  height: 3rem;
  width: 3rem;

  margin-left: 1rem;

}

.small-icon {
  display: flex;
  flex-basis: 75%;
  justify-content: flex-end;
  margin-right: 1rem;
}

@media screen and (max-width: 600px) {
  .category-tile-name-container {
    font-size: 1.5rem !important;
  }

  .category-icon {
    height: 2.2rem !important;
    width: 2.2rem !important;

  }
}
