<div class="category-tile" (click)="onClick()">
  <div class="category-tile-name-container">
        <span>
            {{category.name}}
        </span>
  </div>
  <div class="category-tile-image-container">
    <mat-icon *ngIf="this.category.subcategories.length !== 0" class="material-icons small-icon">
      expand_more
    </mat-icon>
    <mat-icon class="category-icon">
      category
    </mat-icon>
    <!-- <img style="overflow: hidden; float: right;" src="assets/test-pictures/test.png"> -->
  </div>
</div>

<div *ngIf="this.showSubcategories">
  <div *ngFor="let subcategory of category.subcategories" class="category-tile subcategory">
    <div class="category-tile-name-container" routerLink="/events" fragment="subcategory={{subcategory}}">
        <span>
            {{subcategory}}
        </span>
    </div>
  </div>
</div>
