<div style="margin: 2em">

<div style="width: 100%;" fxLayoutAlign="center center" fxLayout="column">

    <div style="width: 100%;" fxLayoutAlign="center center" fxLayout="column">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Add Category</mat-label>
          <input matInput #target required="true" [formControl]="categoryName" (keydown.enter)="addNewCategory(); target.value = ''">
        </mat-form-field>
        <span class='col'><input type='file' (input)=fileChosen($event)></span>
        <button class='btn btn-warning' [formControl]="categoryName" (click)="addNewCategory(); target.value = ''">Add Category</button>
      </div>
      <div *ngIf='uploadedFile'>
      <div>{{uploadedFile.path}}</div>
        <img style='width: 200px; height: 100px'[src]='uploadedFile'>
     </div>
    </div>

<div style="width: 90%; margin-top: 3em;" *ngFor="let category of categories" [categories]>
    <mat-accordion>
      <div  fxLayout="column" fxLayoutAlign="center center">

      <mat-expansion-panel style="max-width: 100%; width: 75%; margin-top: 1em;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{category.name}}
          </mat-panel-title>
<!--          <img [src]="downloadImage(category._id)" >-->
          <div (click)="deleteCategory(category)" style="width: 20%; background-color: red; border-radius: 5px; cursor: pointer;margin-right: 1em;"fxLayoutAlign="center center">
            Delete
        </div>

        </mat-expansion-panel-header>
        <div style="width: 85%;">
            <mat-card class="subcategory-form">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Add Subcategory</mat-label>
                <input matInput #target required="true" [formControl]="subcategoryName" (keydown.enter)="addNewSubcategory(category); target.value = ''">
              </mat-form-field>
                <div class="upload-buttons">
            <span class='col'><input type='file' (input)=fileChosen($event)></span>
            <button class='mat-raised-button color="primary"' (click)="addNewSubcategory(category)">Add Subcategory</button>
                </div>
            </mat-card>
        </div>
        <div *ngFor="let sub of category.subcategories " fxLayout="column">
            <div style="border-radius: 10px; border-style:groove; margin: 1rem; width:85%" >
            <div style="height: 2rem; background-color: rgb(214, 214, 214); margin-bottom: .2rem; border-radius: 5px; cursor: pointer;" fxLayout="row">
            <div style="width: 80%;" fxLayoutAlign="start center" (click)="this.clickSubcategory(sub._id)">
              {{sub.name}}
            </div>
            <div (click)="deleteSubcategory(category, sub)" style="width: 20%; background-color: red; border-radius: 5px; cursor: pointer;"fxLayoutAlign="center center">
                Delete
            </div>
        </div>
            <div *ngIf="sub._id === this.clickedSubcategory" style="margin:1rem">
                <span class='col'><input type='file' (input)=fileChosen($event)></span>
                <button class='mat-raised-button color="primary"' (click)="uploadNewSubcategoryIcon()">Update Subcategory </button>
            </div>
        </div>
        </div>
      </mat-expansion-panel>
    </div>

    </mat-accordion>
</div>
<div>
</div>
</div>
