<ng-container class="address" formGroupName="address">
  <div class="plz">
    <mat-form-field appearance="fill">
      <mat-label>Plz</mat-label>
      <input
        id="plz"
        name="plz"
        matInput
        required
        minlength="5"
        maxlength="5"
        formControlName="plz"
      />
      <mat-error *ngIf="addressForm.get('plz').hasError('required')"
        >Plz is required</mat-error
      >
      <mat-error
        *ngIf="
          addressForm.get('plz').hasError('minlength') ||
          addressForm.get('plz').hasError('maxlength')
        "
      >
        Plz length has to equal 5
      </mat-error>
    </mat-form-field>
  </div>

  <div class="city">
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input matInput required minlength="3" formControlName="city" />
      <mat-error *ngIf="addressForm.get('city').hasError('required')"
        >City is required</mat-error
      >
      <mat-error *ngIf="addressForm.get('city').hasError('minlength')"
        >This is not a city name
      </mat-error>
    </mat-form-field>
  </div>
  <div class="street">
    <mat-form-field appearance="fill">
      <mat-label>Street</mat-label>
      <input
        matInput
        required
        id="street"
        ngDefaultControl
        formControlName="street"
      />
      <mat-error *ngIf="addressForm.get('street').hasError('required')"
        >Street is required
      </mat-error>
      <mat-error
        *ngIf="
          addressForm.get('street').hasError('minlength') &&
          !addressForm.get('street').hasError('required')
        "
      >
        Street input minlength is 3
      </mat-error>
    </mat-form-field>
  </div>
</ng-container>
