.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  justify-content: space-around;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.5);
}

.animate-off-screen {
  position: fixed;
  margin-top: -150px;
  transition: margin-top 200ms ease-out;
}

.header-fullevent {
  justify-content: center;
}

.arrow-back {
  position: absolute;
  align-self: center;
  height: 64px;
  width: auto;
  left: 0;
  margin: 15px;
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 10%;
  min-width: 10%;
}

.logo-fullevent {
  display: flex;
  flex-basis: 100%;
}

.date-picker {
  display: flex;
  justify-content: center;
  width: 55%;
  margin-right: 50px;
  margin-left: 40px;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
  margin-left: 12px;
  margin-top: 7px;
}

.menu-fullevent {
  position: absolute;
  right: 0;
  margin-right: 64px;
}

/* Additional styling for the logo and button */
.logo {
  margin-left: 3px;
  max-width: 150px;
  min-width: 4rem;
  height: auto;
}

.search-container- {
  margin-top: 8px !important;
}

.search-container-fullevent {
  display: none;
}

.logo-small {
  width: 50px;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .logo-small {
    width: 40px;
    height: 100%;
  }

  .date-picker {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .arrow-back {
    height: 48px;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    align-items: center;
  }

  .header-fullevent {
    justify-content: center !important;
  }

  .menu-container {
    display: none;
  }

  .logo-container {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: unset;
    min-width: 44px;
    margin-bottom: 2px;
  }
  .logo {
    display: none !important;
  }
  .logo-fullevent {
    max-width: 120px;
    margin-top: 6px;
    margin-bottom: 8px;
    margin-right: 4px;
  }

  .date-picker {
    width: 70%;
    margin: unset !important;
  }

  .button-container {
    display: none;
  }

  app-hamburger-menu {
    display: none;
  }

  .search-container- {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: unset;
    margin-bottom: 6px;
    margin-right: 8px;
    margin-left: 2px;
  }
}

@media screen and (min-width: 1001px) {
  .logo-small {
    display: none !important;
  }
}
