.app-container{
    width: 80%;
    margin-top:1rem;
    margin-left: auto;
    margin-right: auto;
}

.border-box{
    border-radius: 10px;
    border: solid 1px black;
    box-shadow: 2px 2px 5px black;
}
