.form-control {
  box-shadow: 0 10px 40px 0 #b0c1d9;
  border-radius: 14px;
}

.form-control::placeholder {
  font-family: FontAwesome, "Helvetica Neue", sans-serif;
  color: #808284a1;
  font-size: 14px;
}

.search-button {
  font-family: FontAwesome, "Helvetica Neue", sans-serif;
  color: #808284a1;
  font-size: 22px;
  border: 1px solid #808284a1;
  border-radius: 36px;
  padding: 8px 17px 8px 16px;
}

.search-button:hover {
  color: white;
  background-color: #808284a1;
}

/* mobile */
.button {
  display: inline-block;
  margin: 4px 2px;
  background-color: white;
  border-radius: 30px;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* box-shadow: 0 0px 18px 2px #cccccc; */
}

.button:active {
  color: #1e8890;
}

.button:focus {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: white;
  color: black;
}

.search-container-small {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: bottom;
}

.mglass {
  display: inline-block;
  pointer-events: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.searchbutton {
  position: absolute;
  font-size: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 2px;
}

.search.focus + .searchbutton {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: white;
  color: black;
}

.search {
  position: absolute;
  left: 49px;
  /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
  background-color: white;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.expandright {
  left: auto;
  right: 49px;
  /* Button width-1px */
}

.expandright.focus {
  padding: 0 0 0 16px !important;
}

/* expanded width */
.search.focus {
  width: 235px;
  /* Bar width+1px */
  padding: 0 16px 0 0;
  box-shadow: -23px 2px 40px 18px #a3a3a3;
  border-radius: 14px;
  border: 1px solid #808284a1;
}

@media screen and (min-width: 400px) {
  .search.focus {
    width: 335px;
    /* Bar width+1px */
    padding: 0 16px 0 0;
  }
}

@media screen and (min-width: 500px) {
  .search.focus {
    width: 435px;
    /* Bar width+1px */
    padding: 0 16px 0 0;
  }
}

@media screen and (min-width: 600px) {
  .search.focus {
    width: 535px;
    /* Bar width+1px */
    padding: 0 16px 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .search-container-big {
    display: none;
  }
}
@media screen and (min-width: 1001px) {
  .search-container-small {
    display: none;
  }
}
