.form-container {

}

mat-form-field {
    width: 100%;
}

.organizer-name {
    display: flex;
    flex-direction: column;
}

.address {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.plz {

}

.city {

}

.street {
    flex-grow: 0.9;
}

.additional-information {
    display: flex;
    flex-direction: column;
}

.category {
}

.radio-group-organizer-is-event {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1.5rem;
    align-items: center;
}

.opening-times-container {
    display: flex;
    flex-direction: column;
}

.opening-times-required {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.opening-times-form {

}

.opening-times-start {

}

.opening-times-end {

}

.mat-radio-button {
    padding-right: 1rem;
}

.image-upload {
    display: flex;
    justify-content: center;
}

.confirm-buttons {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

button {
    margin: 1rem;
}
