.bg-image-1 {
  position: fixed;
  overflow: hidden;
  z-index: -1;
  height: 27rem;
  width: 31rem;
  top: -108px;
  right: -60px;
  background: url("../assets/design-elements/pattern1-pink-ink.png") 0 0 no-repeat;
  background-size: 32rem;
  transform: rotate(150deg);
  opacity: 0.9;
}

@media screen and (max-width: 800px) {
  .bg-image-1 {
    z-index: -1;
    height: 28rem;
    width: 38rem;
    background-size: 25rem;
    right: -40px;
  }
}

.bg-image-2 {
  position: fixed;
  overflow: hidden;
  z-index: -1;
  height: 40rem;
  width: 40rem;
  bottom: -12em;
  left: -5em;
  background: url("../assets/design-elements/pattern1-blue-ink.png") 0 0 no-repeat;
  background-size: 40rem;
  transform: rotate(310deg);
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .bg-image-2 {
    height: 30rem;
    width: 30rem;
    background-size: 20rem;
    left: 0;
    bottom: -9rem;
  }
}