<div class="header" fxLayout="row">
<!--    <div fxLayoutAlign="space-around center">-->
<!--        <mat-icon class="arrow-back" (click)="navBack()">-->
<!--            arrow_back-->
<!--        </mat-icon>-->
<!--    </div>-->

<!--  <div class = 'search=field' fxLayoutAlign="end center">-->
<!--  <mat-icon class="search">-->
<!--    search-->
<!--  </mat-icon>-->
<!--  <input-->
<!--         id="m_quicksearch_input_disabled"-->
<!--         autocomplete="off"-->
<!--         type="text" name="searchFilterText"-->
<!--         class="m-list-search__form-input"-->
<!--         value="" placeholder="Search...">-->
<!--  </div>-->

    <div class="logo" fxLayoutAlign="center center">
        3vents51
        <mat-icon>
            room
        </mat-icon>
    </div>
</div>
