/* You can add global styles to this file, and also import other style files */
@import "leaflet/dist/leaflet.css";

:root {
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

html {
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*cookie consent banner to top*/
.cc-banner.cc-bottom {
  bottom: unset !important;
  top: 0 !important;
}

.cc-bottom {
  bottom: unset !important;
}

.green-snackbar {
  --mat-mdc-snack-bar-button-color: green;
  --mdc-snackbar-container-color: greenyellow;
  --mdc-snackbar-supporting-text-color: green;
}

.red-snackbar {
  --mat-mdc-snack-bar-button-color: #660808 !important;
  --mdc-snackbar-container-color: #fc4545 !important;
  --mdc-snackbar-supporting-text-color: #660808;
}

@media screen and (min-width: 1000px) {
  app-full-event {
    display: flex;
    justify-content: center;
  }
}
