<div class="event-container">
  <div class="form-and-image-upload" *ngIf="allOrganizers.length > 0">
    <app-event-form
      #eventFormComponent
      (updateEvent)="updateEvent($event)"
      (addNewEvent)="addEventCheckDuplicate($event)"
      [organizersIn]="allOrganizers"
      [eventIn]="eventIn"
    ></app-event-form>
  </div>
  <div class="events">
    All actual events grouped by category
    <div class="expansion-panel-container">
      <app-category-event-expansion-panel
        *ngFor="let category of categories"
        [category]="category"
        (emitInputEvent)="eventIn = $event"
        (emitDeleteEvent)="this.deleteEvent($event)"
        (emitFilteredList)="allFilteredEvents = $event"
      ></app-category-event-expansion-panel>

      All events right now
      <app-expansion-panel
        [title]="'Events right now'"
        [eventSubscription]="this.getEventsRightNow"
        (emitInputEvent)="eventIn = $event"
        (emitDeleteEvent)="this.deleteEvent($event)"
        (emitFilteredList)="allFilteredEvents = $event"
      ></app-expansion-panel>

      <app-expansion-panel
        [title]="'Promoted Hot Events'"
        [eventSubscription]="this.getHotEvents"
        (emitInputEvent)="eventIn = $event"
        (emitDeleteEvent)="this.deleteEvent($event)"
        (emitFilteredList)="allFilteredEvents = $event"
      ></app-expansion-panel>

      <app-expansion-panel
        [title]="'All Frequent Events'"
        [eventSubscription]="this.getFrequentEvents"
        (emitInputEvent)="eventIn = $event"
        (emitDeleteEvent)="this.deleteEvent($event)"
        (emitFilteredList)="allFilteredEvents = $event"
      ></app-expansion-panel>

      <app-expansion-panel
        [title]="'All Outdated Events'"
        [eventSubscription]="this.getOutdatedEvents"
        (emitInputEvent)="eventIn = $event"
        (emitDeleteEvent)="this.deleteEvent($event)"
        (emitFilteredList)="allFilteredEvents = $event"
      ></app-expansion-panel>
      <div
        class="delete-outdated-events-button"
        (click)="deleteOutdatedEvents()"
      >
        Delete Outdated Events
      </div>

      All Events
      <app-expansion-panel
        [title]="'ALL EVENTS. ATTENTION'"
        [eventSubscription]="this.getAllEvents"
        (emitInputEvent)="eventIn = $event"
        (emitDeleteEvent)="this.deleteEvent($event)"
        (emitFilteredList)="allFilteredEvents = $event"
      ></app-expansion-panel>
    </div>
    <div class="map-container">
      <app-map-view [markerData]="allFilteredEvents"></app-map-view>
    </div>
  </div>
</div>
