/* You can add global styles to this file, and also import other style files */
@import '~leaflet/dist/leaflet.css';
@import 'assets/fonts/fonts.css';

html {

}

html, body {
  height: 100%;
}


body {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
  font-family: Roboto, 'Helvetica Neue', sans-serif;

}

.green-snackbar {
  color: green;
  background-color: greenyellow;
  border-color: green;
}

.red-snackbar {
  color: #660808;
  background-color: #fc4545;
  border-color: #660808;
}
