/* You can add global styles to this file, and also import other style files */
@import '~leaflet/dist/leaflet.css';
@import 'assets/fonts/fonts.css';


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.green-snackbar {
  color: green;
  background-color: greenyellow;
  border-color: green;
}

.red-snackbar {
  color: #660808;
  background-color: #fc4545;
  border-color: #660808;
}
