<ul class="wrapper">
  <li class="icon whatsapp">
    <span class="tooltip">WhatsApp</span>
    <span><mat-icon aria-label="fab fa-whatsapp">whatsapp</mat-icon>
</span>
  </li>
  <li class="icon telegram">
    <span class="tooltip">Telegram</span>
    <span><mat-icon aria-label="fab fa-telegram">telegram</mat-icon>
</span>
  </li>
  <li class="icon facebook">
    <span class="tooltip">Facebook</span>
    <span><i class="fab gg-facebook"></i></span>
  </li>
  <li class="icon twitter">
    <span class="tooltip">Twitter</span>
    <span><i class="fab gg-twitter"></i></span>
  </li>
  <li class="icon instagram">
    <span class="tooltip">Instagram</span>
    <span><i class="fab gg-instagram"></i></span>
  </li>

  <li class="icon youtube">
    <span class="tooltip">Youtube</span>
    <span><i class="fab gg-youtube"></i></span>
  </li>
</ul>
