.category-components {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  min-height: 100%;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1000px) {
  .category-component {
    width: 80% !important;
  }
}

.category-component {
  width: 50%;
  /*margin-bottom: 5rem;*/
}

.whitespace {
  height: 10rem;
}

.header {
  text-align: center;
  padding-top: 20px;
  font-size: 45px;
}
