<div class="category-view-container">
  <app-category-form
    [type]="'Category'"
    [categoryIn]="updateCategoryObject"
    (addNewCategory)="addNewCategory($event)"
  ></app-category-form>

  <div class="category-container">
    <div class="category-headline">Categories</div>
    @for(category of categories; track category){
    <app-category-expansion-panel
      [categoryIn]="category"
      (deleteCategory)="deleteCategory($event)"
      (editCategory)="updateCategoryObject = $event"
    ></app-category-expansion-panel>
    }
  </div>
</div>
