<div class="organizer-view-container">
    <div class="organizer-page">
        <app-organizer-form class="organizer-form" [organizerIn]="organizerInformation"
            (addNewOrganizer)="addNewOrganizer($event)"
            (updateOrganizer)="updateOrganizer($event)"></app-organizer-form>


        <div class="organizer-container">
            <div class="map-container">
                <app-map-view [markerData]="organizers"></app-map-view>
            </div>

            <div *ngFor="let organizer of organizers">
                <div class="organizer-panel">
                    <div class="organizer-name" (click)="organizerInformation=organizer">
                        {{organizer.name}}
                    </div>
                    <img class="organizer-image" [src]="organizer.organizerImageTemporaryURL">
                    <div class="delete-button" (click)="deleteOrganizer(organizer)">
                        Delete
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>