<div class="footer" *ngIf="windowWidth < 800">
  <mat-icon
    class="icon events"
    [ngClass]="footerPickedField === '/' ? 'picked' : 'not-picked'"
    routerLink="/"
    [queryParams]="queryParams"
    [queryParamsHandling]="'merge'"
    (click)="changeMapView(); setFooterPickedField('/')"
  >
    calendar_today
  </mat-icon>
  <mat-icon
    class="icon categories"
    [ngClass]="footerPickedField === '/categories' ? 'picked' : 'not-picked'"
    [routerLink]="['/categories']"
    [queryParams]="queryParams"
    [queryParamsHandling]="'merge'"
    (click)="setFooterPickedField('/categories')"
  >
    format_list_bulleted
  </mat-icon>
  <mat-icon
    class="icon settings"
    routerLink="settings"
    [ngClass]="footerPickedField === '/settings' ? 'picked' : 'not-picked'"
    [queryParams]="queryParams"
    [queryParamsHandling]="'merge'"
    (click)="setFooterPickedField('/settings')"
  >
    edit_calendar
  </mat-icon>
</div>
