.footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  min-height: 50px !important;
  height: calc(var(--safe-area-inset-bottom) + 30px);
  background-color: white;
}

.picked {
  border: 1px solid #108a94;
  border-top: 1px solid #108a94;
  background-color: #108a94;
  height: 60px;
  min-height: 50px !important;
  height: calc(var(--safe-area-inset-bottom) + 30px);
  z-index: 10;
}

.not-picked {
  height: 60px;
  min-height: 50px !important;
  height: calc(var(--safe-area-inset-bottom) + 30px);
  border-top: 1px solid black;
}

.categories {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.8rem;
  width: 33.33%;
  cursor: pointer;
}

.picked.icon {
  color: white !important;
  z-index: 10;
}