.day-date {
  display: flex;
  flex-direction: column;

  height: 3.5rem;
  width: 3.5rem;
  /*background-color: #ecececc7;*/
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 30px -7px rgba(221, 221, 221, 0.77) inset;
  box-sizing: border-box;
}

/*.day-date:hover {*/
/*  margin-top: -1.5rem;*/
/*}*/


.day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 1.9rem;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}

.day-date-clicked {
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 37px -14px #1374c7;
  box-sizing: border-box;
  background-color: white;
}

.day-date-clicked .day {
  font-size: 1.5rem;
}

.day-date-clicked .date {
  font-size: 0.8rem;
}

.date-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

@media screen and (max-width: 400px) {
  .day-date {
    width: 2.7rem !important;
    height: 2.7rem !important;
    margin: 5px !important;
  }

  .day-date-clicked {
    width: 3.5rem !important;
    height: 3.5rem !important;
  }

  .day-date-clicked .day {
    font-size: 1.3rem;
  }

  .day-date-clicked .date {
    font-size: 0.7rem;
  }
}


@media screen and (min-width: 400px) and (max-width: 800px) {
  .day-date {
    width: 3rem;
    height: 3rem;
    margin: 5px;
  }

  .day-date-clicked {
    width: 4rem;
    height: 4rem;
  }
}