<div class="map-container">
  @if(showInputBar){
  <div class="input-line">
    <div>
      <input
        class="address-input"
        (change)="searchForLocationInput()"
        placeholder="Dein Standort ..."
        [(ngModel)]="address"
      />
      <button class="address-search" (click)="searchForLocationInput()">
        Suchen!
      </button>
    </div>
    <div>
      <span
        class="material-icons gps-button"
        (click)="setCurrentPositionOfUserToStorage()"
      >
        gps_fixed
      </span>
    </div>
  </div>
  }
  <div
    [ngClass]="{
      'map-frame-fullevent': isFullEventPage,
      'map-frame': !isFullEventPage
    }"
  >
    <button
      *ngIf="isMapDragged && hasMoreEvents && showHasMoreEvents"
      (click)="searchEventsInNewArea()"
      class="address-search map-dragged-button"
    >
      In diesem Bereich suchen
    </button>
    <div
      *ngIf="isMapDragged && !hasMoreEvents && showHasMoreEvents"
      class="no-more-events"
    >
      Keine weiteren Events
    </div>
    <div
      id="map"
      [ngClass]="{
        'map-fullevent': isFullEventPage,
        map: !isFullEventPage
      }"
    ></div>
  </div>
</div>
