<div class="form-container">
  <div class="confirm-buttons top" *ngIf="page === 'crawler'">
    <button
      mat-raised-button
      color="primary"
      (click)="
        updateOrganizerId
          ? this.emitUpdate(organizerForm)
          : emitAddOrganizer(organizerForm);
        target.value = ''
      "
      [disabled]="checkDisabled()"
    >
      {{ updateOrganizerId ? "Update" : "Submit" }}
    </button>
    <button mat-raised-button color="accent" (click)="nullFormField()">
      Clear
    </button>
  </div>
  <form [formGroup]="organizerForm">
    <div *ngIf="organizerIn?.name" class="radio-group-organizer-is-alias">
      <label id="permanent-radio-group-label"
        >Is Organizer new or an alias?</label
      >
      <mat-radio-group formControlName="isOrganizerAlias">
        <mat-radio-button value="true">Alias</mat-radio-button>
        <mat-radio-button value="false">New Organizer</mat-radio-button>
      </mat-radio-group>
    </div>

    <div
      class="organizer-name"
      *ngIf="organizerForm.get('isOrganizerAlias').value === 'false'"
    >
      <mat-form-field appearance="fill">
        <mat-label>Organizer</mat-label>
        <input
          matInput
          #target
          required
          formControlName="name"
          (keydown.enter)="
            updateOrganizerId !== ''
              ? emitUpdate(organizerForm)
              : emitAddOrganizer(organizerForm);
            target.value = ''
          "
        />
        <mat-error *ngIf="organizerForm.get('name').hasError('required')"
          >Organizer is required</mat-error
        >
        <mat-error
          *ngIf="
            organizerForm.get('name').hasError('minlength') &&
            !organizerForm.get('name').hasError('required')
          "
        >
          Organizer minlength is 3
        </mat-error>
      </mat-form-field>
      <div>
        <app-selection-list
          [listTitle]="'Alias'"
          [namesList]="organizerIn?.alias"
          (updatedNamesList)="organizerIn.alias = $event"
        ></app-selection-list>
      </div>
    </div>

    <div
      class="organizer-alias"
      *ngIf="organizerForm.get('isOrganizerAlias').value === 'true'"
    >
      <app-autocomplete-organizer
        *ngIf="!organizerIn?._id"
        [organizersIn]="allOrganizerIn"
        (emitOrganizer)="setOrganizerFromSelection($event)"
      ></app-autocomplete-organizer>
      <p *ngIf="organizerIn?.name">Current Name: {{ organizerIn.name }}</p>
      <mat-form-field appearance="fill" *ngIf="organizerIn?._id">
        <mat-label>Alias..</mat-label>
        <input
          id="alias"
          name="alias"
          matInput
          #target
          (keydown.enter)="addAlias(target.value); target.value = ''"
        />
      </mat-form-field>
      <p
        *ngIf="organizerIn && organizerIn.alias && organizerIn.alias.length > 0"
      >
        <app-selection-list
          [listTitle]="'Alias'"
          [namesList]="organizerIn?.alias"
          (updatedNamesList)="organizerIn.alias = $event"
        ></app-selection-list>
      </p>
    </div>

    <div class="address">
      <div class="plz">
        <mat-form-field appearance="fill">
          <mat-label>Plz</mat-label>
          <input
            id="plz"
            name="plz"
            matInput
            #target
            required
            minlength="5"
            maxlength="5"
            formControlName="plz"
            (keydown.enter)="
              updateOrganizerId !== ''
                ? emitUpdate(organizerForm)
                : emitAddOrganizer(organizerForm);
              target.value = ''
            "
          />
          <mat-error *ngIf="organizerForm.get('plz').hasError('required')"
            >Plz is required</mat-error
          >
          <mat-error
            *ngIf="
              organizerForm.get('plz').hasError('minlength') ||
              organizerForm.get('plz').hasError('maxlength')
            "
          >
            Plz length has to equal 5
          </mat-error>
        </mat-form-field>
      </div>

      <div class="city">
        <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
          <input
            matInput
            #target
            required
            minlength="3"
            formControlName="city"
            (keydown.enter)="
              updateOrganizerId !== ''
                ? emitUpdate(organizerForm)
                : emitAddOrganizer(organizerForm);
              target.value = ''
            "
          />
          <mat-error *ngIf="organizerForm.get('city').hasError('required')"
            >City is required</mat-error
          >
          <mat-error *ngIf="organizerForm.get('city').hasError('minlength')"
            >This is not a city name
          </mat-error>
        </mat-form-field>
      </div>
      <div class="street">
        <mat-form-field appearance="fill">
          <mat-label>Street</mat-label>
          <input
            matInput
            #target
            required
            formControlName="street"
            (keydown.enter)="
              updateOrganizerId !== ''
                ? emitUpdate(organizerForm)
                : emitAddOrganizer(organizerForm);
              target.value = ''
            "
          />
          <mat-error *ngIf="organizerForm.get('street').hasError('required')"
            >Street is required
          </mat-error>
          <mat-error
            *ngIf="
              organizerForm.get('street').hasError('minlength') &&
              !organizerForm.get('street').hasError('required')
            "
          >
            Street input minlength is 3
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="additional-information">
      <mat-form-field appearance="fill">
        <mat-label>E-Mail</mat-label>
        <input
          matInput
          #target
          formControlName="email"
          (keydown.enter)="
            updateOrganizerId !== ''
              ? emitUpdate(organizerForm)
              : emitAddOrganizer(organizerForm);
            target.value = ''
          "
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Telephone</mat-label>
        <input
          matInput
          #target
          formControlName="telephone"
          (keydown.enter)="
            updateOrganizerId !== ''
              ? emitUpdate(organizerForm)
              : emitAddOrganizer(organizerForm);
            target.value = ''
          "
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          #target
          required
          formControlName="description"
          placeholder="Beschreibung"
          (keydown.enter)="
            updateOrganizerId !== ''
              ? emitUpdate(organizerForm)
              : emitAddOrganizer(organizerForm);
            target.value = ''
          "
          cdkTextareaAutosize
          cdkAutosizeMinRows="6"
        ></textarea>
        <mat-error *ngIf="organizerForm.get('description').hasError('required')"
          >Description is required
        </mat-error>
        <mat-error
          *ngIf="
            organizerForm.get('description').hasError('minlength') &&
            !organizerForm.get('description').hasError('required')
          "
        >
          Description minlength is 3
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Link of Organizer page</mat-label>
        <input
          matInput
          #target
          formControlName="link"
          (keydown.enter)="
            updateOrganizerId !== ''
              ? emitUpdate(organizerForm)
              : emitAddOrganizer(organizerForm);
            target.value = ''
          "
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Update Frequency in Days</mat-label>
        <input
          matInput
          #target
          required
          formControlName="frequency"
          (keydown.enter)="
            updateOrganizerId !== ''
              ? emitUpdate(organizerForm)
              : emitAddOrganizer(organizerForm);
            target.value = ''
          "
        />
      </mat-form-field>
    </div>

    <div class="category">
      <mat-card appearance="outlined">
        <app-category-select
          [loadedCategory]="category"
          (newCategorySelect)="setCategory($event)"
        ></app-category-select>
      </mat-card>
    </div>

    <div class="radio-group-organizer-is-event">
      <label id="permanent-radio-group-label"
        >Is Organizer itself an event?</label
      >
      <mat-radio-group formControlName="isEvent">
        <mat-radio-button value="true">Yes</mat-radio-button>
        <mat-radio-button value="false">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="opening-times-container">
      <div class="opening-times-required">
        <mat-checkbox
          [checked]="isOpeningTimesRequired"
          (change)="isOpeningTimesRequired = !isOpeningTimesRequired"
          >Opening times required?
        </mat-checkbox>
      </div>
      <div class="opening-times-form" *ngIf="isOpeningTimesRequired">
        <div *ngFor="let day of openingTimes">
          <mat-divider></mat-divider>
          <p>{{ day.day }}</p>

          <div>
            <div class="opening-times-start">
              <p>Start :</p>
              <div class="ngx-timepicker-field-example">
                <ngx-timepicker-field
                  #startTime
                  [format]="24"
                  [(defaultTime)]="day.start"
                  (timeChanged)="day.start = startTime.timepickerTime"
                ></ngx-timepicker-field>
              </div>
            </div>
            <div class="opening-times-end">
              <p>Ende:</p>
              <div class="ngx-timepicker-field-example">
                <ngx-timepicker-field
                  #endTime
                  [format]="24"
                  [defaultTime]="day.end"
                  (timeChanged)="day.end = endTime.timepickerTime"
                ></ngx-timepicker-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="image-upload">
      <div class="image-upload text">
        Select event image:
        <input
          class="image-upload input"
          type="file"
          #imageUpload
          (input)="iconChosen($event)"
        />
      </div>
    </div>
  </form>

  <div class="confirm-buttons">
    <button
      mat-raised-button
      color="primary"
      (click)="
        updateOrganizerId
          ? this.emitUpdate(organizerForm)
          : emitAddOrganizer(organizerForm);
        target.value = ''
      "
      [disabled]="checkDisabled()"
    >
      {{ updateOrganizerId ? "Update" : "Submit" }}
    </button>
    <button mat-raised-button color="accent" (click)="nullFormField()">
      Clear
    </button>
  </div>
</div>
