<div
  class="app-store-container"
  *ngIf="
    !isPlatformNative &&
    bannerSettings?.isAppBannerActivated! &&
    !isBannerClosed
  "
>
  <p *ngIf="isMobile" class="banner-intro">Jetzt App downloaden!</p>
  <p *ngIf="!isMobile" class="banner-intro">
    Holt euch die Evento App für euer Android oder iOS Device. Jetzt downloaden!
  </p>
  <div class="link-container">
    <div class="app-container" *ngIf="platform === 'Android' || !isMobile">
      <a [href]="bannerSettings.googlePlayLink" target="_blank"
        ><img
          [alt]="bannerProperties.playStoreImageAlt"
          [src]="bannerProperties.playStoreImageSrc"
          class="play-store-image"
      /></a>
    </div>
    <div class="app-container">
      <a
        [href]="bannerSettings.appStoreLink"
        *ngIf="platform === 'iOS' || !isMobile"
        target="_blank"
      >
        <img
          [alt]="bannerProperties.appleStoreImageAlt"
          [src]="bannerProperties.appleStoreImageSrc"
          class="app-store-image"
      /></a>
    </div>
  </div>
  <mat-icon class="close-banner" (click)="closeBanner()"> clear </mat-icon>
</div>
