.map-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-frame {
  border: 0px solid black;
  height: 100%;
  border-radius: 10px;
}

#map {
  z-index: 0;
  padding-top: 95vw;
  width: 95vw;
  border-radius: 10px;
}

@media screen and (min-width: 900px) {
  #map {
    width: 35vw;
    padding-top: 35vw;
  }
}