<mat-form-field appearance="fill">
  <mat-label>Organizer</mat-label>
  <input
    matInput
    [formControl]="organizerNameControl"
    [matAutocomplete]="auto"
    [required]="!isOrganizerCrawlerView"
    type="text"
  />

  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    (optionSelected)="onOrganizerSelected($event.option.value)"
  >
    <mat-option
      *ngFor="let organizer of filteredOrganizers"
      [value]="organizer.name"
    >
      {{ organizer.name }}
    </mat-option>
  </mat-autocomplete>
  <mat-error
    *ngIf="organizerNameControl.hasError('required') && !isOrganizerCrawlerView"
    >Organizer is required</mat-error
  >
</mat-form-field>
