<div class="event-page">
  <div class="filter-container">

    <!--    <span class="category-label">Kategorien</span>-->
    <!-- <img class="category-headline" src="assets/design-elements/Kategorien_design.png"> -->
    <app-category-list class="main-category-container" id="main-category-container"
                       (categoryOutputEmitter)="this.filteredCategory = $event"
                       (subCategoryOutputEmitter)="this.filteredSubcategories = $event"></app-category-list>

    <div class="spinner-container">
      <ngx-spinner type="ball-spin-clockwise-fade"><p style="color: white">Filtering ...</p></ngx-spinner>
    </div>


    <div class="event-map-container" *ngIf="getScreenWidth>1000">

      <div class="event-container">

        <app-event-tile-list [categories]="[filteredCategory]"
                             [subcategories]="filteredSubcategories"
                             (eventListEmitter)="eventList = $event"
                             (hoverEventEmitter)="hoveredEvent = $event"
        ></app-event-tile-list>
      </div>

      <div class="map-container">
        <map-view [markerData]="eventList" [hoveredData]="hoveredEvent"></map-view>
      </div>
    </div>
    <div class="event-map-container" *ngIf="getScreenWidth<1000">
      <div class="event-container" *ngIf="!mapView">
        <div class="switchViewButton" (click)="changeToMapView()">
          <p> Zur Karte </p>
          <mat-icon class="change-view-icon">map</mat-icon>
        </div>
        <div class="event-container">

          <app-event-tile-list [categories]="[filteredCategory]"
                               [subcategories]="filteredSubcategories"
                               (eventListEmitter)="eventList = $event"
                               (hoverEventEmitter)="hoveredEvent = $event"
          ></app-event-tile-list>
        </div>
      </div>

      <div class="map-container" *ngIf="mapView">
        <div class="switchViewButton" (click)="changeToMapView()">
          <p> Zu den Events </p>
          <mat-icon class="change-view-icon" (click)="changeToMapView()">event</mat-icon>
        </div>
        <map-view [markerData]="eventList" [hoveredData]="hoveredEvent"></map-view>
      </div>
    </div>
  </div>
</div>
