<div class="event-page">
  <div class="filter-container">
    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
    <!--    <span class="category-label">Kategorien</span>-->
    <!-- <img class="category-headline" src="assets/design-elements/Kategorien_design.png"> -->
    <app-category-list class="main-category-container" id="main-category-container" [filteredCategory]=filteredCategory
      [filteredSubcategories]=filteredSubcategories (categoryOutputEmitter)="triggerCategoryOutput($event)"
      (subCategoryOutputEmitter)="triggerSubcategoryOutput($event)"></app-category-list>

    <div class="event-map-container" *ngIf="getScreenWidth>1000">

      <div class="event-container">
        <app-event-tile-list [fetchEventsCompleted]="fetchEventsCompleted" [eventList]=eventList
          [userPosition]="currentPosition" (hoverEventEmitter)="hoveredEventId = $event">

        </app-event-tile-list>
        <div *ngIf="fetchEventsCompleted && loadMore" class="load-more-events-button" (click)="loadMoreEvents()">
          <mat-icon>autorenew</mat-icon>
          <p>Lade mehr ...</p>
        </div>

      </div>

      <div class="map-container">
        <map-view [markerData]="eventList" [hoveredData]="getEventFromId()" [currentPosition]="currentPosition"
          [centerMapOnPosition]="currentPosition"></map-view>
      </div>
    </div>
    <div class="event-map-container" *ngIf="getScreenWidth<1000">
      <div class="event-container" *ngIf="!mapView">
        <div class="switchViewButton" (click)="changeToMapView()">
          <p> Zur Karte </p>
          <mat-icon class="change-view-icon">map</mat-icon>
        </div>
        <div class="event-container">

          <app-event-tile-list [fetchEventsCompleted]="fetchEventsCompleted" [eventList]="eventList"
            (hoverEventEmitter)="hoveredEventId = $event"></app-event-tile-list>
          <div *ngIf="fetchEventsCompleted && loadMore" class="load-more-events-button" (click)="loadMoreEvents()">
            <mat-icon>autorenew</mat-icon>
            <p>Lade mehr ...</p>
          </div>
        </div>
      </div>

      <div class="map-container" *ngIf="mapView">
        <div class="switchViewButton" (click)="changeToMapView()">
          <p> Zu den Events </p>
          <mat-icon class="change-view-icon" (click)="changeToMapView()">event</mat-icon>
        </div>
        <map-view [markerData]="eventList" [hoveredData]="getEventFromId()" [currentPosition]="currentPosition"
          [centerMapOnPosition]="currentPosition"></map-view>
      </div>
    </div>
  </div>
</div>