<div class="full-event-page">
  <div class="event-tile">

    <div class="column-container-1">
      <div class="event-pic">
        <img class='pic' [src]="ImageURL">
        <img class='pic' *ngIf="ImageURL===undefined" [src]="IconURL">
      </div>
      <vents-social-media-share class="social-media-buttons"></vents-social-media-share>
    </div>

    <div class="column-container-2">
      <div class="event-name">
                <span>
                    {{event?.name}}
                </span>
      </div>
      <div class="event-link" *ngIf="event?.link.length>0">
        <a href="{{event.link}}">Link zur Veranstaltung</a>
      </div>
      <div class="category-container">
        <div class="category">
          {{ event?.category.name}}
        </div>
        <div *ngIf="event?.category?.subcategories?.length > 0"> ></div>
        <div class="subcategories" *ngFor="let subcategory of event?.category.subcategories">
          {{ subcategory?.name }}
        </div>
      </div>
      <div class="organizer-name">
                <span>
                    Veranstalter: {{organizer?.name}}
                </span>
      </div>
      <div class="price" *ngIf="event?.price">
        <span>Preis: {{event?.price}} Euro</span>
      </div>
      <div class="opening-times">
        <span> Geöfnet: {{event.times.start}} Uhr - {{event.times.end}} Uhr</span>
      </div>
      <div class="description">
        Description
        <p>
          {{event?.description}}
        </p>
      </div>
    </div>

    <div class="column-container-3">
      <div class="event-tile-information">
        <div class="address">
          <div>
            Addresse:
            <br/>
            {{event?.address?.street}} {{event?.address?.streetNumber}}
            <br/>
            {{event?.address?.plz}} {{event?.address?.city}}

          </div>
        </div>
        <div class="date" *ngIf="!event.permanent">
          <div *ngIf="event.date.start !== event.date.end">
            Termin:
            <div class="date-start">
              von: {{ event?.date?.start | date }}
            </div>
            <div class="date-end">
              bis: {{ event?.date?.end | date }}
            </div>
          </div>
          <div *ngIf="event.date.start === event.date.end">
            <div class="date-start">
              Termin: {{ event?.date?.start | date }}
            </div>
          </div>
        </div>
        <div class="date" *ngIf="event.permanent">
          Termin:
          <div>
            always open
          </div>
        </div>
      </div>
      <div class="map-container">

        <map-view [markerData]="[event]" [zoomInput]="14"
                  [centerInput]="[event.geoData.lat, event.geoData.lon]"></map-view>
      </div>
    </div>
  </div>
</div>
