.full-event-page {
  display: flex;
  justify-content: center;
}

.event-tile {
  display: flex;
  flex-direction: column;


  background-color: rgba(249, 251, 255, 0.82);
  border-radius: 23px;

  box-shadow: 0 2px 2px #3d3d3d;
  min-width: 300px;

  width: 80%;
  margin: 5rem;
}

.event-tile-container {
  display: flex;
  flex-direction: row;
}

.event-pic {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5rem;
  width: 6rem;
}

.pic {
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
}

.event-tile-information {
  display: flex;
  flex-direction: column;
}

.event-name {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.5rem;
}

.category {
  background-color: rgb(245, 241, 0);
  border-radius: 7px;
  padding: 0px 3px 0px 3px;
  width: fit-content;
  font-size: .7rem;
}

.subcategories {
  background-color: rgb(184, 182, 99);
  border-radius: 7px;
  padding: 0px 3px 0px 3px;
  width: fit-content;
  font-size: .6rem;
}

.date {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  width: 100%;
  color: rgb(114, 114, 114);
  padding: 0px 3px 0px 0px;
  font-size: .7rem;
}

.organizer-name {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  display: flex;
  align-self: center;
  color: rgb(138, 138, 138);
  font-size: .8rem;
  width: 95%;
  background-color: white;
  border-radius: 10px;
  padding: 5px
}

