.full-event-page {
  display: flex;
  justify-content: center;
}

.event-tile {
  display: flex;
  flex-direction: column;


  background-color: rgba(249, 251, 255, 0.82);
  border-radius: 23px;

  box-shadow: 0 2px 2px #3d3d3d;
  min-width: 300px;

  width: 80%;
  margin: 5rem;
}

.event-tile-container {
  display: flex;
  flex-direction: row;
}

.event-tile-row-container {
  display: flex;
  flex-direction: row;
}

.event-tile-column-container {
  width: 100%

}

.event-pic {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 33%;
  margin: 2vw;
}

.pic {
  width: 100%;
  border-radius: 23px;
}

.social-media-buttons {
  margin-top: 2.2rem;
}

.event-tile-information {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2rem 2rem 2rem 0rem;
  justify-content: space-evenly;
  align-items: center;
}

.event-name {
  white-space: nowrap;
  margin: 2.5vw 2vw 0.7vw 0.5vw;
  font-size: 2vw;
}

.names-column-container {
  display: flex;
  flex-direction: column;
}

.category {
  background-color: rgb(245, 241, 0);
  border-radius: 7px;
  padding: 0px 3px 0px 3px;
  width: fit-content;
  font-size: .7rem;
  margin: 0.5vw;
}

.subcategories {
  background-color: rgb(184, 182, 99);
  border-radius: 7px;
  padding: 0px 3px 0px 3px;
  width: fit-content;
  font-size: .6rem;
}

.date {
  display: flex;
  padding: 0px 3px 0px 0px;
  margin-left: 1vw;
}

.organizer-name {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0.5vw;
  font-size: 1vw;
}

.address {
  display: flex;
}

.description-map-container {
  display: flex;
  flex-direction: row;
}

.description {
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  border-radius: 10px;
  margin: 2vw;
  margin-left: 0.5vw;
  flex-basis: 50%;

}

.description > p {
  margin-top: 0.5vw;
  font-size: 0.7vw;
}

.map-container {
  height: auto;
  margin-right: 1vw;
  margin-bottom: 1vw;
  flex-basis: 50%;

}
