<div class="event-tile">
  <div class="event-tile-container">
    <div class="event-pic">
      <img class="pic" src="assets/test-pictures/test.png">
    </div>
    <div class="event-tile-information">
      <div class="information-first-row">
                <span>
                    {{event?.name}}
                </span>

        <div class="date">
          <div class="date-start">
            {{ event?.date?.start | date }}
          </div>
          <div class="date-end">
            {{ event?.date?.end | date }}
          </div>
        </div>
      </div>
      <div class="organizer-name">
        {{ event?.organizerName}}
      </div>
      <div class="category">
        {{ event?.category.name}}
      </div>
      <div class="subcategories" *ngFor="let subcategory of event?.category.subcategories">
        {{ subcategory?.name }}
      </div>
    </div>
  </div>
  <div class="address">
    <div>
      Addresse:
      <br/>
      {{event?.address?.street}} {{event?.address?.streetNumber}}
      <br/>
      {{event?.address?.plz}} {{event?.address?.city}}

    </div>
  </div>
  <div class="description">
    Kurze Beschreibung:
    <p>
      {{event?.description}}
    </p>
  </div>
</div>
