<div class="event-tile" fxLayout="column" fxFlex.gt-sm="50%" fxFlex.lt-sm="95%" fxFlex.sm="70%">
    <div fxLayout="row">
        <div style="height: 6rem; width: 6rem;" fxLayoutAlign="center center">
            <img class="pic" src="assets/test-pictures/test.png">
        </div>
        <div fxLayout="column" style="width: 95%;">
            <div fxLayout="row" style="padding-top: 1rem;">
                <span>
                    Veranstaltungsname
                </span>
                <div fxLayoutAlign="end end" class="date">
                    01.01.2020
                </div>
            </div>
            <div fxLayoutAlign="start start">
                name
            </div>
            <div class="category">
                Kategorie
            </div>
        </div>
    </div>
    <div fxLayoutAlign="center center">
        <div style="width: 95%">
            Adresse:
            <br/>
            Teststraße 1312
            <br/>
            01312 Dresden

        </div>
    </div>
    <div fxLayoutAlign="center center">
        <div class="description">
            Kurze Beschreibung:
            <p>
            Darunter verstehen wir die Wünsche, 
            Erwartungen und das Kaufverhalten potentieller Konsumenten. 
            Wir beraten Sie in allen Fragen zur Umsatzsteigerung und 
            Kundengewinnung auf digitalem Weg im und rund um das Internet. 
            In einem gemeinsamen Workshop werden Ihre Ziele und Wünsche erfasst.
            </p>
        </div>
    </div>
</div>