<form [formGroup]="eventAdditionalInfoForm" class="additional-information">
  <mat-form-field appearance="fill" class="description">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      required
      formControlName="description"
      cdkTextareaAutosize
      cdkAutosizeMinRows="6"
    ></textarea>
    <mat-error
      *ngIf="eventAdditionalInfoForm.get('description').hasError('required')"
      >Description is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="link">
    <mat-label>Link</mat-label>
    <input matInput formControlName="link" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="price">
    <mat-label>Price: 0,00</mat-label>
    <input matInput formControlName="price" />
  </mat-form-field>
</form>
