<div class="opening-times-form" formArrayName="openingTimes">
  @for(dayGroup of openingTimes.controls; track dayGroup) {
  <mat-divider></mat-divider>
  <p>{{ dayGroup.value.day }}</p>
  <form [formGroupName]="$index">
    <div class="opening-times-start">
      <p>Start :</p>
      <div class="ngx-timepicker-field-example">
        <ngx-timepicker-field
          [format]="24"
          formControlName="start"
          [defaultTime]="dayGroup.value.start"
        ></ngx-timepicker-field>
      </div>
    </div>
    <div class="opening-times-end">
      <p>Ende:</p>
      <div class="ngx-timepicker-field-example">
        <ngx-timepicker-field
          [format]="24"
          formControlName="end"
          [defaultTime]="dayGroup.value.end"
        ></ngx-timepicker-field>
      </div>
    </div>
  </form>
  }
</div>
