<form [formGroup]="organizerForm">
    <div style="width: 100%;" fxLayoutAlign="center center" fxLayout="column">
        <mat-form-field appearance="fill" style="width: 90%;">
          <mat-label>Organizer</mat-label>
          <input matInput #target required formControlName="name" (keydown.enter)="updateOrganizerId !== '' ? updateOrganizer() : addNewOrganizer(); target.value = ''">
        </mat-form-field>
        <div style="width: 90%;" fxLayoutAlign="start center"></div>

    </div>


    <div class="city"style="width: 100%;" fxLayoutAlign="center center" fxLayout="row" >
        <div style="width: 45%;" fxLayoutAlign="start center">
            <mat-form-field appearance="fill" style="width: 90%;">
                <mat-label>Plz</mat-label>
                <input matInput #target required formControlName="plz" (keydown.enter)="updateOrganizerId !== '' ? updateOrganizer() : addNewOrganizer(); target.value = ''">
            </mat-form-field>
        </div>

        <div style="width: 45%;" fxLayoutAlign="end center" fxLayout="column">
            <mat-form-field appearance="fill" style="width: 90%;">
            <mat-label>City</mat-label>
            <input matInput #target required formControlName="city" (keydown.enter)="updateOrganizerId !== '' ? updateOrganizer() : addNewOrganizer(); target.value = ''">
            </mat-form-field>
        </div>
    </div>

    <div class="street" style="width: 100%;" fxLayoutAlign="center center" fxLayout="row" >
        <div style="width: 75%;" fxLayout="column">
            <mat-form-field appearance="fill" style="width: 90%;">
            <mat-label>Street</mat-label>
            <input matInput #target required formControlName="street" (keydown.enter)="updateOrganizerId !== '' ? updateOrganizer() : addNewOrganizer(); target.value = ''">
            </mat-form-field>
        </div>

        <div style="width: 15%;" fxLayoutAlign="end center" fxLayout="column">
            <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Number</mat-label>
            <input matInput #target required formControlName="streetNumber" (keydown.enter)="updateOrganizerId !== '' ? updateOrganizer() : addNewOrganizer(); target.value = ''">
            </mat-form-field>
        </div>
    </div>

    <div style="width: 100%;" fxLayoutAlign="center center" fxLayout="column">
        <mat-form-field appearance="fill" style="width: 90%;">
        <mat-label>E-Mail</mat-label>
        <input matInput #target formControlName="email" (keydown.enter)="updateOrganizerId !== '' ? updateOrganizer() : addNewOrganizer(); target.value = ''">
        </mat-form-field>
    </div>
    <div style="width: 100%;" fxLayoutAlign="center center" fxLayout="column">
        <mat-form-field appearance="fill" style="width: 90%;">
        <mat-label>Telephone</mat-label>
        <input matInput #target formControlName="telephone" (keydown.enter)="updateOrganizerId !== '' ? updateOrganizer() : addNewOrganizer(); target.value = ''">
        </mat-form-field>
    </div>

    <div style="width: 100%;" fxLayoutAlign="center center" fxLayout="column">
        <mat-form-field appearance="fill" style="width: 90%;">
        <mat-label>Description</mat-label>
        <input matInput #target required formControlName="description" (keydown.enter)="updateOrganizerId !== '' ? updateOrganizer() : addNewOrganizer(); target.value = ''">
        </mat-form-field>
    </div>
    <div style="width: 100%;" fxLayoutAlign="center center" fxLayout="column">
        <mat-form-field appearance="fill" style="width: 90%;">
        <mat-label>Link of Organizer page</mat-label>
        <input matInput #target required formControlName="link" (keydown.enter)="updateOrganizerId !== '' ? updateOrganizer() : addNewOrganizer(); target.value = ''">
        </mat-form-field>
    </div>
    <div style="width: 100%;" fxLayoutAlign="center center" fxLayout="column">
        <mat-form-field appearance="fill" style="width: 90%;">
        <mat-label>Update Frequency in Days</mat-label>
        <input matInput #target required formControlName="frequency" (keydown.enter)="updateOrganizerId !== '' ? updateOrganizer() : addNewOrganizer(); target.value = ''">
        </mat-form-field>
    </div>

    <div class="category" style="width: 100%;" fxLayoutAlign="center center"   >
        <mat-card style="width: 90%;" fxLayoutAlign="center center">
          <app-category-select style="width: 100%;" fxLayoutAlign="center center" [loadedCategory]="category" (newCategorySelect)="setCategory($event)"></app-category-select>
        </mat-card>
    </div>    

    <div fxLayout="column" fxLayoutAlign="center center">
        <div style="width: 100%"  fxLayoutAlign="center center">
            <mat-checkbox class="opening-times-required" [isOpeningTimesRequired] (change)="isOpeningTimesRequired = !isOpeningTimesRequired">Opening times required? </mat-checkbox>
        </div>
        <div style="width: 100%;" fxLayoutAlign="center" fxLayout="column" *ngIf="isOpeningTimesRequired">

            <div  *ngFor="let day of openingTimes">
                <mat-divider></mat-divider>
                <p fxLayoutAlign="center" > {{day.day}} </p>

                <div fxLayout="row" fxLayoutAlign="space-between center">
                <div style="padding-left: 1rem;" fxLayout="row">
                    <p>Start :</p>
                    <div class="ngx-timepicker-field-example">
                         <ngx-timepicker-field #startTime [format]="24" [(defaultTime)]="day.start" (timeChanged)="day.start = startTime.timepickerTime"> </ngx-timepicker-field>
                    </div>
                </div>
                <div style="padding-left: 1rem;" fxLayout="row">
                    <p>Ende:</p>
                    <div class="ngx-timepicker-field-example">
                    <ngx-timepicker-field #endTime [format]="24" [defaultTime]="day.end" (timeChanged)="day.end = endTime.timepickerTime"></ngx-timepicker-field>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <mat-divider></mat-divider>

    </div>

</form>
<div fxLayout="column" fxLayoutAlign="spacing-around center" style="margin: 1em;">
    <button  mat-raised-button color="primary" (click)="updateOrganizerId !== '' ? updateOrganizer() : addNewOrganizer()" style="width: 70%; cursor: pointer;"fxLayoutAlign="center center">
        {{ updateOrganizerId !== '' ? 'Update' : 'Submit'}}
    </button>
    <button  mat-raised-button color="secondary" (click)="nullFormField()" style="width: 70%;cursor: pointer; margin-top:1em;"fxLayoutAlign="center center">
        Clear
    </button>
</div>



<div>
    <div *ngFor="let o of organizer" fxLayout="column" fxLayoutAlign="center center">
        <div style="width: 85%; height: 2rem; background-color: rgb(214, 214, 214); margin-bottom: .2rem; border-radius: 5px; cursor: pointer;" fxLayout="row">
            <div style="width: 80%;" fxLayoutAlign="start center" (click)="setOrganizerForm(o)">
                {{o.name}}
            </div>
            <div (click)="deleteOrganizer(o._id)" style="width: 20%; background-color: red; border-radius: 5px; cursor: pointer;"fxLayoutAlign="center center">
                Delete
            </div>
        </div>
    </div>

</div>

  