<form [formGroup]="organizerForm">
    <div style="width: 100%;" fxLayoutAlign="center center" fxLayout="column">
        <mat-form-field appearance="fill" style="width: 90%;">
          <mat-label>Organizer</mat-label>
          <input matInput #target formControlName="name" (keydown.enter)="addNewOrganizer(); target.value = ''">
        </mat-form-field>
        <div style="width: 90%;" fxLayoutAlign="start center"> 
        </div>
    </div>
</form>
    
<div>
    <div *ngFor="let o of organizer" fxLayout="column" fxLayoutAlign="center center">
        <div style="width: 85%; height: 2rem; background-color: rgb(214, 214, 214); margin-bottom: .2rem; border-radius: 5px;" fxLayout="row">
            <div style="width: 80%;" fxLayoutAlign="start center">
                {{o.title}}
            </div>
            <div (click)="deleteOrganizer(o._id)" style="width: 20%; background-color: red; border-radius: 5px;"fxLayoutAlign="center center">
                Delete
            </div>
        </div>
    </div>
</div>
  