<div style="width: 100%;" fxLayoutAlign="center center">
  <div fxLayout="column" fxFlex.gt-sm="50%" fxFlex.lt-sm="95%" fxFlex.sm="70%" fxFlex.gt-md="40%"
       fxLayoutAlign="start center">
    <vents-date-picker style="width: 100%;" (clickedDate)="searchForDay($event)"></vents-date-picker>
    <div style="margin-top: 1rem;" fxLayout="column" style="margin-bottom: 5rem; width: 100%;">
      <div fxLayout="row" fxLayoutAlign="start center" style="margin-bottom: .5rem;">
        <div *ngIf="this.mapView" fxLayout="row" fxLayoutAlign="space-around center">
          <mat-icon class="icon" (click)="changeToMapView()">
            event
          </mat-icon>
        </div>
        <div *ngIf="!this.mapView" fxLayout="row" fxLayoutAlign="space-around center">
          <mat-icon class="icon" (click)="changeToMapView()">
            map
          </mat-icon>
        </div>
        <div fxLayout fxLayoutAlign="end center" style="width: 100%;">
          <mat-icon class="icon" (click)="isDropdown = !isDropdown">
            keyboard_arrow_down
          </mat-icon>
        </div>
      </div>
      <div *ngIf="isDropdown" fxLayout="column" style="margin-bottom: .5rem;">
        <div>
          <input class="event-search-input" type="text" placeholder="Search For Event" [(ngModel)]="filteredText"
                 (keyup)="filter()">
        </div>
        <span class="distance-label">Entfernung (in km)</span>
        <mat-slider
          class="slider"
          thumbLabel
          min="1"
          max="100"
          step="1"
          [(ngModel)]="eventRange"
          (change)="searchForDistance($event.value)">
        </mat-slider>
        <span class="distance-label">Kategorien</span>
        <div fxLayout="row wrap" fxLayoutAlign="start center" *ngFor="let category of categoryList">
          <div class="category-container">
          <span class="category" [ngClass]="isElementPicked(category)" (click)="searchForCategory(category)">
              {{ category.name }}
          </span>
            <div class="subcategory-container" *ngIf="this.filteredCategoryIDs.includes(category._id) && category.subcategories.length != 0"
                 style="padding-left: 1rem">
              <div *ngFor="let subcategory of category.subcategories">
                <!-- TODO Wait For Checkout https://github.com/schndrrr/3vents51/tree/insertAppBackendCreateObjectForSubcategories -->
                <!--                      <span class="category" [ngClass]="isElementPicked()" (click)="searchForSubCategory()"></span>-->
                <span class="subcategory">
                {{subcategory}}
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="this.mapView">
        <map-view [marker_data]="this.filteredList"></map-view>
      </div>
      <div *ngIf="this.mapView === false">
        <div fxLayout="column" *ngFor="let event of filteredList">
          <vents-event-tile routerLink="/full-event" fragment={{event._id}} [event]="event"></vents-event-tile>
        </div>
        <div *ngIf="filteredList.length == 0">
          Sorry für das angegebene datum haben wir keine events gespeichert.
        </div>
      </div>
    </div>
  </div>
</div>
