.icon {
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.category {
  border-radius: 13px;
  padding: 3px 5px 3px 5px;
  width: fit-content;
  font-size: 1.2rem;
  cursor: pointer;
  padding-left: 2rem;
  padding-right: 2rem;
  font-color: black;
  border: 2px solid #c1c1c1;
  min-width: 15rem;
  max-width: 15rem;
}


@media screen and (max-width: 800px) {
  .category {
    min-width: unset;
  }
}

.category-list.ng-star-inserted {
  width: 16rem;
}

.category-label {
  font-size: 2rem;
}

.category-container {
  padding: .3rem;
}

.arrow-and-subcategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subcategory-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
  overflow-y: scroll;
  padding: 0.4rem 2rem 1rem 2rem;
}

.subcategory-container::-webkit-scrollbar {
  display: none;
}

.subcategory {
  background-color: rgb(0, 255, 0);
  border-radius: 7px;
  padding: 3px 5px 3px 5px;
  width: fit-content;
  font-size: 1rem;
  margin: 0rem .2rem .2rem 0rem;
  cursor: pointer;
}

.category-non-picked {
  background-color: white;
  box-shadow: 0 0 30px 5px #ddddddc4 inset;
  border: 2px solid #ffffff;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.category-picked {
  height: 2rem;
  background-color: #e8ebe8;
  border: 1px solid #373434;
  color: #373434;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}


.category-yellow {
  background-color: rgb(245, 241, 0);
}

.distance-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
}

.distance-label {
  text-align: center;
  font-size: 0.8rem;
  color: #808080;
}

.slider {
  width: 50%;
  padding-bottom: 0;
  padding-top: 0;
}


.event-page {
  width: 100%;
  justify-content: center;
  padding-bottom: 5rem;


}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-headline {
  height: 100%;
  width: 15rem;
  padding-right: 0rem !important;
  min-width: 1rem;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}

.main-category-container {
  display: flex;
  flex-direction: row;
  margin: 2.5rem;
  overflow-y: scroll;
  overflow-x: unset;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  max-width: 80%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main-category-container::-webkit-scrollbar {
  display: none;
}

.event-map-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: calc(5em + constant(safe-area-inset-bottom)) !important;
  margin-bottom: calc(5em + env(safe-area-inset-bottom)) !important;
}

.event-container {
  margin-top: 2rem;
  width: 50%;
  overflow-x: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

@media screen and (max-width: 1000px) {
  .event-map-container {
    min-height: 25rem;
  }

  .map-container {
    display: flex !important;
    flex-direction: column !important;
    width: 90% !important;
    padding-top: 0 !important;

  }

  .event-container {
    width: 100% !important;
    padding-top: 0 !important;
  }
}

.event-tile-list {
  width: 95% !important;
}

.change-view-icon {
  font-size: 3rem;
  margin-bottom: 3rem;
  cursor: pointer;
  align-self: center;
}

.map-container {
  width: 40%;
  height: auto;
  margin-top: 2rem;
  padding-top: 1rem;

}

.date-picker {
  margin: 1.5rem;
  max-width: 80%;
}

.event-tile-list {
  width: 80%;
  margin: 0.5rem;
}

img {
  height: 100%;
  padding-right: 1rem;
  min-width: 1rem;
}

.nothing-found {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  line-height: 2rem;
  font-size: 1.5rem;
  color: #9e9e9e;
}

.nothing-found > mat-icon {
  font-size: 3rem;
  margin: 2rem;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
