<div class="event-page">

  <div class="filter-container">
    <vents-date-picker class="date-picker" (clickedDate)="searchForDay($event)"></vents-date-picker>

    <span class="category-label">Kategorien</span>

    <div class="main-category-container">

      <span class="category" [ngClass]="isElementPicked('hot')" (click)="addCategoryToFilter('hot')">
                <img src="assets/static-icons/icons8-flame-60.png"/>
              Hot
          </span>

      <div *ngFor="let category of categoryList">
          <span class="category" [ngClass]="isElementPicked(category)" (click)="addCategoryToFilter(category)">
          <img [src]="category.iconTemporaryURL"/>
            {{ category.name }}
          </span>
        <div class="subcategory-container" *ngIf="category.subcategories.length > 0
                                                 && isElementPicked(category) == 'category-picked'">
          <div *ngFor="let subcategory of category.subcategories">
                <span class="subcategory" [ngClass]="isElementPicked(subcategory)"
                      (click)="addSubcategoryToFilter(subcategory)">{{subcategory.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spinner-container">
    <ngx-spinner type="ball-spin-clockwise-fade"><p style="color: white">Filtering ...</p></ngx-spinner>
  </div>
  <div class="distance-filter">
    <span class="distance-label">Entfernung (in km)</span>
    <mat-slider
      class="slider"
      thumbLabel
      min="1"
      max="100"
      step="1"
      style="z-index: 0"
      [(ngModel)]="filteredDistance"
      (change)="searchForDistance($event)">
    </mat-slider>
  </div>
  <div class="event-map-container">

    <div class="event-container">

      <div class="event-tile-list" *ngFor="let event of filteredList">
        <vents-event-tile routerLink="/full-event" fragment={{event._id}} [event]="event"></vents-event-tile>
      </div>
      <div *ngIf="filteredList.length == 0">
        Sorry für das angegebene Datum haben wir keine Events gespeichert.
      </div>
    </div>

    <div class="map-container">
      <map-view [markerData]="this.filteredList"></map-view>
    </div>
  </div>
</div>
