.icon {
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.category {
  border-radius: 25px;
  padding: 3px 5px 3px 5px;
  width: fit-content;
  font-size: 1.2rem;
  cursor: pointer;
  padding-left: 2rem;
  padding-right: 2rem;
  font-color: black;
  border: 2px solid #c1c1c1;
}

.category-container {
  padding: .3rem;
}

.subcategory-container {
  display: flex;
  position: absolute;
  flex-direction: row;
  margin-top: .5rem;
}

.subcategory {
  background-color: rgb(0, 255, 0);
  border-radius: 7px;
  padding: 3px 5px 3px 5px;
  width: fit-content;
  font-size: 1rem;
  margin: 0rem .2rem .2rem 0rem;
  cursor: pointer;
}

.category-non-picked {
  background-color: #e3e3e3;
  border: 2px solid #ffffff;
  height: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}

.category-picked {
  height: 1.5rem;
  background-color: #e8ebe8;
  border: 1px solid #373434;
  color: #373434;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}

.category-yellow {
  background-color: rgb(245, 241, 0);
}

.distance-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
}

.distance-label {
  text-align: center;
  font-size: 0.8rem;
  color: #808080;
}

.slider {
  width: 50%;
  padding-bottom: 0;
  padding-top: 0;
}

.event-page {
  width: 100%;
  justify-content: center;
  padding-bottom: 5rem;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-category-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  height: 1.5rem;
  align-items: center;
}

.event-map-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event-container {
  margin-top: 2rem;
  width: 50%;
  height: 50rem;
  overflow-x: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.map-container {
  width: 40%;
  height: auto;
  padding-top: 1rem;

}

.date-picker {
  margin: 1.5rem;
  max-width: 80%;
}

.event-tile-list {
  width: 80%;
  margin: 0.5rem;
}

img {
  height: 100%;
  padding-right: 1rem;
  min-width: 1rem;
}
