.category {
  margin: 1rem;
  width: fit-content;
  font-size: 1.2rem;
  cursor: pointer;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.category > img {
  height: 40px;
  width: auto;
}

.now {
  white-space: nowrap;
}

@media screen and (max-width: 1000px) {
  .category {
    min-width: unset;
    margin: 0.5rem !important;
    height: 3rem !important;
    font-size: 0.9rem !important;
    margin-top: 0.8rem !important;
    padding-left: 0.7rem !important;
    padding-right: 0.7rem !important;
  }

  .category > img {
    height: 32px;
    width: auto;
  }

  .subcategory-container {
    margin-top: 16px !important;
    justify-content: unset !important;
    left: 0 !important;
    width: 100% !important;
  }

  .subcategory-placeholder {
    min-height: 39px !important;
  }
  .category-list-container {
    margin-bottom: 0px !important;
  }
  .search-category-replacement {
    width: 100% !important;
  }
}

.category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  background: white;
  border-radius: 20px;
}

.category-label {
  font-size: 2rem;
}

.category-container {
  padding: 0.3rem;
}

.subcategory-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
  min-height: 29px;
}

.subcategory-container {
  display: flex;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  flex-direction: row;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* Add smooth scroll behavior */
  transition: transform 1s linear;
  margin-top: 15px;
  left: 2%;
}

.filter-tag {
  margin-right: 10px;
}

.subcategory-container::-webkit-scrollbar {
  display: none;
}

.subcategory {
  background-color: rgb(222 222 222);
  border-radius: 44px;
  padding: 3px 10px 3px 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  margin: 0rem 0.2rem 0.2rem 0rem;
  cursor: pointer;
  white-space: nowrap;
}

.subcategory-picked {
  color: white;
  background: #000000d1;
}

.category-non-picked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-picked {
  border-bottom: 2px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-yellow {
  background-color: rgb(245, 241, 0);
}

img {
  height: auto;
  width: 1.5rem;
  padding-bottom: 10px;
}

.icon {
  position: absolute;
  width: unset !important;
  cursor: pointer;
  margin-top: 1.5rem;
  display: flex;
  cursor: pointer;
  color: grey;
  border: 1px solid grey;
  border-radius: 100px;
  background: white;
  box-shadow: rgb(0 0 0 / 21%) 0px 5px 12px;
}

.icon-left {
  left: 5%;
}

.icon-right {
  right: 5%;
}

.reset-subcategory-button {
  color: rgb(125, 125, 125);
  background-color: rgba(255, 255, 255);
  border: 1px solid rgb(125, 125, 125) !important;
  border-radius: 44px;
  padding: 0px 10px 0px 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  margin: 1px 0px 0rem 14px;
  cursor: pointer;
  white-space: nowrap;
}

.reset-subcategory-button:active {
  color: rgba(255, 255, 255, 0.828);
  background-color: rgb(125, 125, 125);
}

.category-list-container {
  display: flex;
  margin-top: 150pxrem;
  transition: margin-top 300ms ease-out;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
}
.animate-off-screen {
  margin-top: -150px;
  transition: margin-top 200ms ease-out;
}

.search-category-replacement {
  padding: 6px;
  margin-top: 12px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-category-replacement > * {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.reset-search {
  font-size: 12px !important;
}
