<div
  class="category-list-container"
  *ngIf="!search.searchString"
  [class.animate-off-screen]="scrollOut && getScreenWidth < 1000"
>
  <div
    *ngIf="getScreenWidth > 700"
    [ngStyle]="{
      display: scrollLeftMax ? 'none' : 'flex',
      cursor: scrollLeftMax ? 'unset' : 'pointer'
    }"
    class="icon icon-left"
    (click)="scrollLeft()"
  >
    <mat-icon>arrow_back_ios_new</mat-icon>
  </div>

  <span
    *ngIf="showPromotion"
    class="category now"
    [ngClass]="isCategoryPicked(promotionCategory)"
    (click)="selectCategory(promotionCategory)"
  >
    <img src="assets/static-icons/icons8-flame-60.png" />
    {{ promotionCategory.name }}
  </span>

  <span
    *ngIf="false"
    class="category now"
    [ngClass]="isCategoryPicked(nowCategory)"
    (click)="selectCategory(nowCategory)"
  >
    <img src="assets/static-icons/icons8-flame-60.png" />
    Jetzt Gerade
  </span>

  <div *ngFor="let category of categoryList" class="category-list">
    <span
      class="category"
      id="{{ isCategoryPicked(category) }}"
      [ngClass]="isCategoryPicked(category)"
      (click)="selectCategory(category)"
    >
      <img
        *ngIf="category.iconTemporaryURL"
        [src]="category.iconTemporaryURL | byPassSecurity"
      />
      {{ category.name }}
    </span>
    <div class="subcategory-placeholder">
      <div
        class="subcategory-container"
        id="subcategory-container"
        *ngIf="
          category?.subcategories?.length > 0 &&
          isCategoryPicked(category) == 'category-picked'
        "
      >
        <span class="filter-tag">Filter |</span>
        <div *ngFor="let subcategory of category.subcategories">
          <span
            class="subcategory"
            [ngClass]="isSubCategoryPicked(subcategory)"
            (click)="selectSubcategory(subcategory)"
            >{{ subcategory.name }}</span
          >
        </div>
        <span
          class="reset-subcategory-button"
          (click)="clearSubcategoryFilters()"
        >
          X | Reset</span
        >
      </div>
      <span *ngIf="search.searchString" class="subcategory subcategory-picked"
        >Suche: {{ search.searchString }}</span
      >
    </div>
  </div>
  <div
    *ngIf="getScreenWidth > 700"
    [ngStyle]="{
      display: scrollRightMax ? 'none' : 'flex',
      cursor: scrollRightMax ? 'unset' : 'pointer'
    }"
    class="icon icon-right"
    (click)="scrollRight()"
  >
    <mat-icon>arrow_forward_ios</mat-icon>
  </div>
</div>

<div *ngIf="search.searchString" class="search-category-replacement">
  <span class="subcategory subcategory-picked">
    Suche: {{ search.searchString }}</span
  >
  <span
    class="reset-subcategory-button reset-search"
    style="margin-left: 4px"
    (click)="clearSearchFilterOnReset()"
    >X | Reset</span
  >
</div>
