.image {
  height: 2.5rem;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 2.5rem;
  background-color: rgb(214 214 214);
  margin-bottom: 0.4rem;
  border-radius: 5px;
}

.name {
  cursor: pointer;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
}
