<div class="event-tile" fxLayout="row">
    <div class="event-pic" fxLayoutAlign="center center">
        <img class="pic" src="assets/test-pictures/test.png">
    </div>
    <div fxLayout="column" style="width: 95%;">
        <div fxLayout="row" style="width: 100%;">
            <div style="width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                {{ event?.name }}
            </div>
            <div fxLayoutAlign="end end" class="date">
                {{ event?.date.day }}
            </div>
        </div>
        <div fxLayoutAlign="start start">
            name
        </div>
        <div classs="category">
            {{ event?.category }}
        </div>
    </div>
</div>