.event-tile {
  width: 100%;
  background-color: rgb(238, 238, 238);
  /* background-color: rgb(241, 241, 241); */
  border-radius: 5px;
  height: 5rem;
  box-shadow: 0px 2px 2px rgb(61, 61, 61);
  margin-bottom: .5rem;
  cursor: pointer;
}

.pic {
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
}

.event-pic {
  height: max-content;
  width: 25%;
}

img{
  height: 5rem;
}

.date {
  width: 100%;
  color: rgb(114, 114, 114);
  padding: 0px 3px 0px 0px;
  font-size: .7rem;
}

.category {
  background-color: rgb(255, 238, 0);
  border-radius: 7px;
  padding: 0px 3px 0px 3px;
  width: fit-content;
  font-size: .7rem;
}
