<div class="event-tile" fxLayout="row">
    <div class="event-pic" fxLayoutAlign="center center">
        <img class="pic" src="assets/test-pictures/test.png">
    </div>
    <div fxLayout="column" style="width: 95%;">
        <div fxLayout="row">
            <span>
                Veranstaltungsname
            </span>
            <div fxLayoutAlign="end end" class="date">
                01.01.2020
            </div>
        </div>
        <div fxLayoutAlign="start start">
            name
        </div>
        <div classs="category">
            Kategorie
        </div>
        <!-- <div style="color: rgb(138, 138, 138); font-size: .8rem">
            Kurze Beschreibung
        </div> -->
    </div>
</div>