<div class="event-tile" fxLayout="row">
    <div style="height: 100%; width: 6rem;" fxLayoutAlign="center center">
        <img style="width: 4rem; height: 4rem; border-radius: 5px;" src="assets/test-pictures/test.png">
    </div>
    <div fxLayout="column" style="width: 95%;">
        <div fxLayout="row">
            <span>
                Veranstaltungsname
            </span>
            <div fxLayoutAlign="end end" style="width: 100%; color: rgb(114, 114, 114); padding: 0px 3px 0px 0px; font-size: .7rem;">
                01.01.2020
            </div>
        </div>
        <div fxLayoutAlign="start start">
            name
        </div>
        <div style="background-color: teal; border-radius: 7px; padding: 0px 3px 0px 3px; width:fit-content; font-size: .7rem;">
            Kategorie
        </div>
        <!-- <div style="color: rgb(138, 138, 138); font-size: .8rem">
            Kurze Beschreibung
        </div> -->
    </div>
</div>