<app-organizer-form [organizerIn]="organizerInformation" (addNewOrganizer)="addNewOrganizer($event)"
                    (updateOrganizer)="updateOrganizer($event)"></app-organizer-form>


<div>
    <div *ngFor="let organizer of organizers" fxLayout="column" fxLayoutAlign="center center"
         (click)="organizerInformation=organizer">
        <div style="width: 85%; height: 2rem; background-color: rgb(214, 214, 214); margin-bottom: .2rem; border-radius: 5px; cursor: pointer;"
             fxLayout="row">
            <div style="width: 80%;" fxLayoutAlign="start center">
                {{organizer.name}}
            </div>
            <div (click)="deleteOrganizer(organizer._id)"
                 style="width: 20%; background-color: red; border-radius: 5px; cursor: pointer;"
                 fxLayoutAlign="center center">
                Delete
            </div>
        </div>
    </div>

    <div style="margin-top: 2em;">
        <app-map-view [marker_data]="organizers"></app-map-view>
    </div>
</div>

  