<div class="event-container">
    <div class="form-and-image-upload">
        <app-event-form (updateEvent)="updateEvent($event)" (addNewEvent)="addNewEvent($event)"
                        [organizersIn]="organizers"
                        [eventIn]="eventIn"></app-event-form>
    </div>
    <div class="events">
        <div class="map-container">
            <app-map-view [markerData]="allFilteredEvents"></app-map-view>
        </div>

        <mat-accordion>
            All events grouped by category and organizer
            <div *ngFor="let category of categories" class="category-panel">
                <mat-expansion-panel
                                     (afterExpand)="loadOrganizerOnSubcategories(category)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{category.name}}
                        </mat-panel-title>
                        <mat-panel-description>
                            Open to see all organizers
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="organizer-panel" *ngFor="let organizer of organizers">
                        <mat-expansion-panel
                                             [ngStyle]="{'background': getColor(organizer)}"
                                             (afterExpand)="loadEvents(organizer._id, category._id)">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{organizer.name}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    Open to see all events
                                </mat-panel-description>
                                <p>Last Updated: {{ timeSince(organizer.lastUpdated) }}</p>
                            </mat-expansion-panel-header>

                            <div class="event-panel-collection" *ngFor="let event of allFilteredEvents">
                                <div class="event-panel">
                                    <div  (click)="eventIn = event">
                                        {{event.name}}
                                    </div>
                                    <img class="event-image"
                                         [src]="event.eventImageTemporaryURL">
                                    <div class="delete-event-button"
                                        (click)="deleteEvent(organizer._id, event._id)">
                                        Delete
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </div>


                </mat-expansion-panel>
            </div>
        </mat-accordion>

        All events grouped by category

        <div class="all-events-expansion-panel" *ngFor="let category of categories">
            <mat-expansion-panel
                                 (afterExpand)="loadEventsByCategory(category)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{category.name}}
                    </mat-panel-title>
                    <mat-panel-description>
                        Open to see all events
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div *ngFor="let event of allFilteredEvents">
                    <div class="event-panel"
                         >
                        <div
                             (click)="eventIn = event">
                            {{event.name}}
                        </div>
                        <img class="event-image" [src]="event.eventImageTemporaryURL">
                        <div    class="delete-event-button"
                                (click)="deleteEvent(event._organizerId, event._id)"
                             >
                            Delete
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>

        All hot events

        <div class="all-hot-events-expansion-panel">
            <mat-expansion-panel (afterExpand)="getHotEvents()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        All Hot Events
                    </mat-panel-title>
                    <mat-panel-description>
                        Open to see all events
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div *ngFor="let event of allFilteredEvents">
                    <div class="event-panel"
                        >
                        <div (click)="eventIn = event">
                            {{event.name}}
                        </div>
                        <img class="event-image" [src]="event.eventImageTemporaryURL">
                        <div    class="delete-event-button"
                                (click)="deleteEvent(event._organizerId, event._id)"
                             >
                            Delete
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
</div>
