<div class="date-picker">
  <div class="scroll" id="scroll-date-picker" (scroll)="onScroll($event)">
    <div
      *ngIf="getScreenWidth > 700"
      [ngStyle]="{
        color: scrollLeftMax ? 'lightgrey' : 'black',
        cursor: scrollLeftMax ? 'unset' : 'pointer'
      }"
      class="icon icon-left"
      (click)="scrollLeft()"
    >
      <mat-icon>arrow_back_ios_new</mat-icon>
    </div>
    <app-day-date
      class="events-day-date"
      *ngFor="let day of listOfDisplayedDates"
      [date]="day.date"
      [isClicked]="day.isClicked"
      (click)="safeDate(day)"
      [ngClass]="{ clicked: day.isClicked }"
    >
      >
    </app-day-date>
    <div
      *ngIf="getScreenWidth > 700"
      [ngStyle]="{
        color: scrollRightMax ? 'lightgrey' : 'black',
        cursor: scrollRightMax ? 'unset' : 'pointer'
      }"
      class="icon icon-right"
      (click)="scrollRight(); setScrollMaxBool()"
    >
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
  </div>
</div>
