<mat-card class="event-tile" *ngIf="event">
  <app-event-picture class="event-tile-picture" [event]="event"></app-event-picture>
  <div class="event-tile-information">
    <div class="event-tile-information-name-date">
      <mat-card-title class="event-name">
        {{ event?.name }}
      </mat-card-title>

      <mat-card-subtitle class="event-organizer-name">
        {{event.organizerName}}
        <div class="event-distance">
          Entfernung: {{distance}}km
        </div>
      </mat-card-subtitle>

      <!--      <div class="category">-->
      <!--        {{ event?.category?.name }}-->
      <!--      </div>-->
    </div>
  </div>
  <div class="date">
    <!--    <div class="date-start">-->
    <!--      {{ event?.date?.start | date }}-->
    <!--    </div>-->
    <!--    <div class="date-end">-->
    <!--      {{ event?.date?.end | date }}-->
    <!--    </div>-->
    <div class="date-start">
      Start: {{ event.times.start }} Uhr
    </div>
    <div class="date-end">
      Ende: {{ event.times.end }} Uhr
    </div>
  </div>
</mat-card>
