.event-tile {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: none !important;
}

.event-tile:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px gray;
}

.event-tile-picture {
  object-fit: cover;
  min-width: 100%;
  height: auto;
  /* border style */
  display: inline-block;
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
  overflow: hidden;
}

@media screen and (min-width: 1000px) {
  .event-tile {
    flex-direction: row;
  }

  .event-tile-picture {
    min-width: 40%;
    max-width: 40%;

  }

  .event-tile-information {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 60%;
    margin-left: 10px;
  }

  .event-tile-information-name-date {
    max-width: 100%;
  }

  .event-name {
    max-width: 100% !important;
  }
}

.event-tile-information {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.event-tile-information-name-date {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}

.event-organizer-name {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: start;
  margin: 0px;
  margin-left: 2px;
}


.event-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
  max-width: 70vw;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px
}

.mat-card-title {
  font-weight: 400 !important;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-size: 0.8rem;
  margin-left: 2px;
  margin-top: 1px;
}

.date-start {}

.date-end {}

.category {
  background-color: rgb(255, 238, 0);
  border-radius: 7px;
  padding: 0px 3px 0px 3px;
  width: fit-content;
  font-size: .7rem;
}

/*medium screen size*/
@media screen and (min-width: 440px) and (max-width: 600px) {
  .event-name {
    font-size: 1.3rem !important;
  }

  .date {
    font-size: .9rem !important;
  }
}

/*small screen size like iphone*/
@media screen and (max-width: 440px) {
  .event-name {
    font-size: 1rem !important;
  }

  .date {
    font-size: .9rem !important;
  }
}

mat-card {
  padding: 6px !important;
}