.event-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.organizer-name {}

.event-name {
    display: flex;
}

.plz {}

.city {}

.street {}

.coordinates {}

.category {
    margin: 1rem;
}

.description {}

.link {}

.price {}

.is-permanent {}

.time {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 28px;
}

.start {}

.end {}

.confirm-buttons {}

.image-upload {
    display: flex;
    margin: 16px;
    justify-content: center;
}

.is-event-props {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px;
}

mat-form-field {
    width: 100%;
}

@media screen and (max-width: 800px) {
    mat-form-field {
        width: 80%;
    }

    .category {
        max-width: 80%;
        margin-left: 0;
    }
}