<div class="event-tile-list" *ngFor="let event of eventList">
  <app-event-tile [routerLink]="['/full-event', event._id]" [event]="event"
                  [distance]="get_distance_to_current_position(event)"
                  (mouseenter)="hover(event)" (mouseleave)="hover(null)"></app-event-tile>
</div>
<div class="nothing-found" *ngIf="eventList.length < 1">
  <mat-icon>block</mat-icon>
  Sorry! für das angegebene Datum haben wir keine Events gefunden!.
</div>
<div *ngIf="eventList.length >= actualLoadEventLimit" class="load-more-events-button"
     (click)="loadMoreEvents()">
  <mat-icon>autorenew</mat-icon>
  <p>Lade mehr ...</p>
</div>
