
.category {
  border-radius: 13px;
  margin: 1rem;
  padding: 3px 5px 3px 5px;
  width: fit-content;
  font-size: 1.2rem;
  cursor: pointer;
  padding-left: 2rem;
  padding-right: 2rem;
  font-color: black;
  border: 2px solid #c1c1c1;
  min-width: 15rem;
  max-width: 15rem;
}


@media screen and (max-width: 800px) {
  .category {
    min-width: unset;
  }
}

.category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;

}

.category-label {
  font-size: 2rem;
}

.category-container {
  padding: .3rem;
}

.arrow-and-subcategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 0rem;
}

.subcategory-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  overflow-y: scroll;
}

.subcategory-container::-webkit-scrollbar {
  display: none;
}

.subcategory {
  background-color: rgb(0, 255, 0);
  border-radius: 7px;
  padding: 3px 5px 3px 5px;
  width: fit-content;
  font-size: 1rem;
  margin: 0rem .2rem .2rem 0rem;
  cursor: pointer;
  white-space: nowrap;
}

.category-non-picked {
  background-color: white;
  box-shadow: 0 0 30px 5px #ddddddc4 inset;
  border: 2px solid #ffffff;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.category-picked {
  height: 2rem;
  background-color: #e8ebe8;
  border: 1px solid #373434;
  color: #373434;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}


.category-yellow {
  background-color: rgb(245, 241, 0);
}

img {
  height: 100%;
  padding-right: 1rem;
  min-width: 1rem;
}

.icon {
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  width: unset !important;
}

.icon-left {
  left: 5%;
}

.icon-right {
  right: 5%;
}

