
.category {
  margin: 1rem;
  width: fit-content;
  font-size: 1.2rem;
  cursor: pointer;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}


@media screen and (max-width: 800px) {
  .category {
    min-width: unset;
    margin: 0.5rem !important;;
    height: 3rem !important;
    font-size: 0.9rem !important;
    margin-top: 0.8rem !important;
    padding-left: 0.7rem !important;
    padding-right: 0.7rem !important;
  }
  img {
    width: 1.2rem !important;
  }
}

.category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;

}

.category-label {
  font-size: 2rem;
}

.category-container {
  padding: .3rem;
}

.arrow-and-subcategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 0rem;
  margin-top: -10px;
}

.subcategory-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  overflow-y: scroll;
}

.subcategory-container::-webkit-scrollbar {
  display: none;
}

.subcategory {
  background-color: rgb(0, 255, 0);
  border-radius: 7px;
  padding: 3px 5px 3px 5px;
  width: fit-content;
  font-size: 1rem;
  margin: 0rem .2rem .2rem 0rem;
  cursor: pointer;
  white-space: nowrap;
}

.category-non-picked {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-picked {

  border-bottom: 2px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.category-yellow {
  background-color: rgb(245, 241, 0);
}

img {
  height: auto;
  width: 1.5rem;
  padding-bottom: 10px;
}

.icon {
  position: absolute;
  width: unset !important;
  cursor: pointer;
  margin-top: 1.5rem;
  display: flex;
  cursor: pointer;
  color: grey;
  border: 1px solid grey;
  border-radius: 100px;
  background: white;
  box-shadow: rgb(0 0 0 / 21%) 0px 5px 12px;

}

.icon-left {
  left: 5%;
}

.icon-right {
  right: 5%;
}

