.event-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-and-image-upload {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.event-image {
  padding-right: 5%;
  height: 100%;
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.map-container {
  margin: 1rem;
}

.expansion-panel-container {
  margin: 1rem;
  width: 100%;
}

.delete-outdated-events-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  margin: 8px;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.mat-mdc-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

mat-expansion-panel {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .event-container {
    flex-direction: row;
    margin: 2rem;
  }

  .form-and-image-upload {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    flex-grow: 1;
    margin: 0rem;
  }

  .events {
    margin: 1rem;
    margin-top: 0rem;
  }
}
